﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="rally.aspx.cs" Inherits="rally.rally" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <p>Formularie insertion rally.</p>
    <form id="form1" runat="server">
        <div ID="message" runat="server"></div>
        <p> 
            <asp:Label ID="Label" runat="server" Text="nomRally"></asp:Label> 
            <asp:TextBox ID="txtNomRally" runat="server" Text=""></asp:TextBox>
            <asp:Button ID="btnInsertRally" runat="server" Text="insertRally" 
                onclick="btnInsertRally_Click"/>
        </p>
    </form>
</body>
</html>
